/* GLOBAL */
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-color: #181818;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#container{
    height: 100%;
}

.main-content-picture{
    display:flex;
}
.main-content-picture-pralka{
    padding-top: 100px;
    width: 590px;
    margin: auto;
}
