/* GLOBAL */
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-color: #181818;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#container{
    height: 100%;
}

.main-content-picture{
    display:flex;
}
.main-content-picture-pralka{
    padding-top: 100px;
    width: 590px;
    margin: auto;
}
.main-content-userpralka{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

@media only screen and (min-width: 600px){
} 

@media only screen and (min-width: 748px){
}
